<div class="row">
    <div class="col-md-12">
        <h3>Lorem ipsum là gì?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores iste autem dicta blanditiis dolorem a,
            sapiente, minima sunt error tempora maiores dolores atque? Placeat distinctio, magni aliquam a accusantium
            asperiores culpa fugit, iste non dolore error veniam recusandae repudiandae corrupti cum maiores, libero
            explicabo tempora laudantium quasi unde quibusdam. Voluptate ad possimus natus enim officia! Dignissimos
            necessitatibus qui fugit ea commodi vel eum cum, odit nisi veritatis consectetur consequatur minus libero
            porro eius ipsa similique dicta harum sed soluta, quas eveniet impedit tenetur! Magni iste suscipit
            consequatur vel facere voluptatibus a, perferendis optio consequuntur architecto. Hic eveniet adipisci
            voluptas porro placeat numquam culpa, accusamus sunt itaque, recusandae laudantium vitae! Rerum consequatur
            ipsam, provident nobis illo cupiditate exercitationem, laborum nihil nemo ratione ullam impedit sit
            explicabo dolore expedita quidem esse eius? Dolores inventore asperiores expedita magni sapiente debitis,
            reiciendis hic modi doloremque, labore enim cumque a maiores facere eos qui. Earum numquam, quos natus vitae
            vero neque dolores provident esse quia, veritatis, accusantium excepturi rem sit assumenda laborum tempore
            doloribus est in velit. Magni, dolorem. Quod consequuntur, recusandae aperiam enim molestias odit sint
            totam, blanditiis vero, maxime doloribus? Reiciendis excepturi quas at, vel corrupti incidunt distinctio
            maxime sequi assumenda inventore ab.</p>
    </div>
</div>